@font-face {
    font-family: "FonteFuria";
    src: url("Fontes/Road_Rage.otf") format(opentype);
}

@font-face {
    font-family: "Monument";
    src: url("Fontes/MonumentExtended-Regular.otf") format(opentype);

}
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Monument";
    justify-content: start;
    background-color: #555555;
    color: white;
}

header {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajustado para melhor distribuição dos itens */
    height: auto; /* Altura ajustada para ser automática */
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: "FonteFuria";
}

header .imagem-cabecalho {
    width: 40px; /* Reduzido o tamanho da imagem do cabeçalho */
    height: auto;
}

header h1 {
    margin: 0;
    font-size: 24px; /* Reduzido o tamanho da fonte do título */
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px; /* Reduzido o padding */
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgb(22, 15, 119); /* Reduzido o tamanho da sombra */
    width: 90%; /* Largura ajustada para caber na tela móvel */
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popup-content h1 {
    font-size: 36px; /* Reduzido o tamanho da fonte do título do pop-up */
    margin: 0;
}

.popup-content h3 {
    font-size: 20px; /* Reduzido o tamanho da fonte dos subtítulos */
    padding-top: 10px;
    color: rgb(255, 215, 0);
}

.popup-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.popup-content input {
    width: 90%; /* Largura ajustada para inputs */
    padding: 8px; /* Reduzido o padding dos inputs */
    margin: 8px; /* Reduzido o margin dos inputs */
    border: 1px solid rgb(22, 15, 119);
    border-radius: 4px;
    box-sizing: border-box;
}

.popup-content button {
    width: 90%; /* Largura ajustada para botões */
    padding: 8px; /* Reduzido o padding dos botões */
    background-color: rgb(22, 15, 119);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px; /* Reduzido o margin-top dos botões */
}

.popup-content button:hover {
    background-color: #45a049;
}

.confirmation-message button {
    padding: 8px; 
    background-color: rgb(22, 15, 119);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}

.confirmation-message button:hover {
    background-color: #45a049;
}

aside.Loja {
    background-color: #555555;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
}

aside.Loja img {
    width: auto; 
    height: 100%;
    object-fit: contain; 
    transform: rotate(90deg); 
    transform-origin: center;
    border-radius: 8px;
    border: 2px solid black;
    display: block;
}


.layout-container {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Furiosos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("Imagens/Logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px; 
    text-align: center;
    width: 100%;  
    border: 2px solid black;
}

.Furiosos h1, .Furiosos h2 {
    margin: 5px; 
}

.Furiosos h1 {
    font-size: 36px; 
    margin-bottom: 5px;
}

.Furiosos h2 {
    font-size: 14px; 
    margin-top: 0;
}

.info-container {
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px; 
}

.info-header {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.info-header h1 {
    font-family: "Calibri";
}

.info-container img {
    width: 100%;
    height: auto;
}

.people-list {
    padding: 5px; 
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 8px;
    overflow-y: auto;
}

#person-details {
    width: 100%;
    background-image: url("Imagens/Carbono.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: auto; 
    display: grid;
    grid-template-rows: auto auto auto;
    border: 2px solid transparent;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px #848081; 
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    margin: 15px;
}

#person-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: "Calibri";
    font-size: 18px; 
}

#person-details div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}

.person-info .imagem {
    height: auto;
    width: 100%;
}

.person-info {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.person-info h2, .person-info h3, .person-info p {
    width: auto; 
    margin: 0;
}

.imagem img {
    height: auto;
    width: 100%; 
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 8px 2px #848081; 
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.person-item {
    background-image: url("Imagens/Carbono.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    padding: 8px; 
    margin-bottom: 8px; 
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0 0 8px 2px #848081;
    transition: box-shadow;
}

.person-item:hover {
    opacity: 70%; 
    border-color: #848081;
    box-shadow: 0 0 12px 4px #848081; 
}


#person-links {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 10px;
}

#person-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px; 
    display: flex;
    align-items: center;
}

#person-links i {
    margin-right: 5px;
}

footer {
    background-color: black;
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: auto; 
    font-family: "Monument";
    padding: 10px;
    flex-direction: column; 
}

footer .imagem-rodape {
    width: 40px; 
    height: auto;
    margin-bottom: 5px; 
}

footer h1 {
    margin: 0;
    font-size: 20px; 
    text-align: center;
    font-family: "FonteFuria";
}

footer h2 {
    margin: 0;
    font-size: 12px; 
    text-align: center;
}


::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 4px;
    border: 2px solid #000; 
}

::-webkit-scrollbar-track {
    background-color: #222;
    border-radius: 4px; 
}

::-webkit-scrollbar-button {
    background-color: #333;
    border-radius: 4px; 
}