@font-face {
    font-family: "FonteFuria";
    src: url("Fontes/Road_Rage.otf") format(opentype);
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    
    display: flex;
    flex-direction: column;
    font-family: "FonteFuria";
    justify-content: start;
    background-color: #000000;
    color: white;
}

header {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
    box-sizing: border-box;
}

header .imagem-cabecalho {
    width: 50px;
    height: auto;
    position: fixed;
}

header h1 {
    margin: 0;
    font-size: 40px;
    flex-grow: 1;
    text-align: center;

}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;  
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(22, 15, 119);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popup-content h1{
    font-size: 100px;
    margin: 0;
}

.popup-content h3{
    font-size: 30px;
    padding-top: 10px;
    color: rgb(255, 215, 0);
    
}


.popup-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.popup-content input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(22, 15, 119);
    border-radius: 4px;
    box-sizing: border-box;
}

.popup-content button {
    width: 80%;
    padding: 10px;
    background-color: rgb(22, 15, 119);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.popup-content button:hover {
    background-color: #45a049;
}

.confirmation-message button {
    padding: 10px;
    background-color: rgb(22, 15, 119);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.confirmation-message button:hover {
    background-color: #45a049;
}


.TextoLoja{
    background-color: #111111;
    font-size: 10px;
    text-align: center; 
    width: 150px;
    height: 190px;
    margin-bottom: 10px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

aside.Loja{
    background-color: black;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

aside.Loja a{
    display: flex;
    flex: 1;
}

aside.Loja img{
    width: 100%;
    height: auto;
    object-fit: cover;
    align-items: left;
    justify-content: left;  
}

.layout-container {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Furiosos {
    display: flex;
    flex-direction: column;
    flex: 5;
    background-color: #111111;
    box-sizing: border-box;
}

.info-container {
    transition: opacity 0.3s ease;
    height: 100hv;
    display: flex;                
    align-items: center;          
    justify-content: center;     
    text-align: center;  
    flex: 5;
}

.info-header {
    flex: 2;
    display: flex;  
}

.info-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.person-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#person-details p{
    font-family: Arial;
}

.people-list {
    flex: 1;
    background-color: 111111;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

.person-item {
    background-color: 111111;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
}

.person-item:hover {
    background-color: #111111;
}


footer{
    background-color: black;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 50px;
}

footer .imagem-rodape{
    width: 50px;
    height: auto;
    margin-right: 10px;
    
}

footer h1{
    margin: 0;
    font-size: 30px;
    text-align: left;
}

footer h2{
    margin: 0;
    flex-grow: 1;
    text-align: right;
    font-size: 10px;
    
}
